html, body {
    height:100%;
}

body {
    margin:0;
}

#header, #footer{
    border:0;
}

#header h1 {
    margin:0;
}

#footer p{
    margin:0;
}

#main td, #main th{
    font-size:140%;
    padding:5px;
}

.dojoxGrid table{
    margin:0;
}

